.blacklbl {
    background-color: black;
    color: #ff6300;
    font-weight: bold;
}

.indexingIMG {
    background-color: black
}

.indexingStats {
    background-color: black;
    color: #ffae00;
    font-weight: bold;
}

progressbar {
    background-color: black;
}

progressbar text {
    background-color: black;
    color: #ff6300;
    margin-bottom: 5px;
}

progressbar trough.empty {
    min-height: 12px;
    border-color: #ff6300;
    background-color: black;
}

progressbar trough.full {
    min-height: 12px;
    border-color: #ff6300;
    background-color: #ff6300;
}

progressbar trough {
    min-height: 12px;
    background-color: black;
}

progressbar progress {
    color: #ff6300;
    background-color: #ff6300;
    min-height: 12px;
    border-color: #ff6300;
}

.assistant-page-1 {
    background-image: url("resource:///images/dark/assistant-background")
}

.assistant-background {
    background-image: url("resource:///images/dark/assistant-background")
}

.transparent-background {
    background-color: transparent
}