[Desktop Entry]
Type=Application
TryExec=swamp
Exec=swamp
Icon=swampapp
Terminal=false
Name=Swamp
Comment=Restic backup indexer and browser
StartupWMClass=Swamp
