[Desktop Entry]
Name=Swamp
Exec=swamp
Type=Application
Icon=swampapp
Categories=Application
StartupNotify=true
Terminal=false
Encoding=UTF-8
Keywords=restic;backup;
